
# dependencies
node_modules/
/node_modules/
.cache/
/.cache/

.eslintcache
*.pack

# server data
uploads/
media.db

.env
media-server-front-end/node_modules/*
media-server-front-end/node_modules/.cache/*
