
# dependencies
node_modules/
/node_modules/
.cache/
/.cache/

.eslintcache
*.pack

# server data
uploads/
media.db

.env
.env.development
.env.production

# frontend
media-server-front-end/build/
media-server-front-end/node_modules/*
media-server-front-end/node_modules/.cache/*
media-server-front-end/node_modules/.cache/
*/.eslintcache

# backend


media-server-front-end/node_modules/.cache/.eslintcache
