# Api
PORT=

# Client 
AUTHENTICATION_BASE_URL=
RESET_PASSWORD_BASE_URL=
ORIGIN= # Client Origin (Used for CORS)

# Database
DB_PATH=

# Auth
JWT_SECRET=

# Image Storage
TEMP_FILES_PATH= # Path to store temp files 
BASE_FILE_PATH=  # Path to store user files

# Mailing
TRANSPONDER_PORT=
MAIL_USER=
MAIL_PASS=